---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import { Image } from "astro:assets"
import lancio_qui_val_di_fiastra from "../assets/events/lancio_qui_val_di_fiastra.png"
import contro_i_borghi from "../assets/events/contro_i_borghi.jpg"
import social_camp_6 from "../assets/events/social_camp_6.png"
import thriving_from_the_bottom from "../assets/events/thriving_from_the_bottom.jpg"
import nasce_inabita from "../assets/events/nasce_inabita.jpg"
---

<Layout title="Inabita - un laboratorio di ricerca e progettazione sulla rigenerazione territoriale.">
  <main>
    <Header activeNav="eventi" />
    <h1 class="mt-8 sm:mt-16 text-4xl sm:text-5xl font-semibold tracking-tighter">Eventi</h1><br>

    <div>
      <h3 class="mt-4 text-2xl font-semibold">Evento di lancio del progetto QUI Val di Fiastra</h3>
      <span class="font-bold">9 Marzo 2024, Abbadia di Fiastra - Urbisaglia (MC)</span><br>
      <p>Formazione, promozione culturale</p>
      <div class="text-lg grid grid-cols-1 sm:grid-rows-1 sm:grid-cols-12 sm:gap-x-6 md:gap-x-8 lg:gap-x-8">
        <div class="sm:col-span-4 md:row-end-2 md:row-span-2">
          <div class="rounded-sm overflow-hidden max-w-52">
            <Image src={lancio_qui_val_di_fiastra} alt="Lancio Qui Val di Fiastra" />
          </div>
        </div>
        <div class="mt-4 sm:col-span-8 sm:mt-0 md:row-end-1">
          <p>
            h 9:30 - 11 | Qui Educhiamo al territorio<br>
            Presentazione del programma triennale di educazione al patrimonio e al territorio rivolto alle scuole di vallata, coordinato da Inabita in collaborazione con l'Università di Macerata (UniMC), Legambiente e l'Istituto Comprensivo di Colmurano.<br><br>
            h 11:30 - 13 | Qui ValdiFiastra<br>
            Presentazione del progetto e dialogo con ospiti dall’ambito accademico e applicato sulla rigenerazione culturale e sociale nelle aree interne<br><br>
            h 14:30 - 15:30 | Qui Passeggiamo<br>
            Tre percorsi di passeggiata distinti, esperienze uniche da scegliere secondo propri interessi e desideri.<br><br>
            h 16 - 18 | Qui definiamo l’Ecosistema digitale<br>
            Workshop con le comunità di vallata per la presentazione e co-progettazione dell’ecosistema digitale, una piattaforma online dedicata alla valorizzazione dei servizi e delle produzioni locali.<br>
            <a target="_blank" href="https://www.quivaldifiastra.com/qr/">https://www.quivaldifiastra.com/qr/</a>
          </p>
        </div>
      </div>
    </div>

    <br>

    <div>
      <h3 class="mt-4 text-2xl font-semibold">Contro i Borghi per i borghi</h3>
      <span class="font-bold">16 Luglio 2023, Ripe San Ginesio (MC) - Borgofuturo festival 2023</span><br>
      <p>Ricerca, Formazione e promozione culturale</p>
        <div class="text-lg grid grid-cols-1 sm:grid-rows-1 sm:grid-cols-12 sm:gap-x-6 md:gap-x-8 lg:gap-x-8">
          <div class="sm:col-span-4 md:row-end-2 md:row-span-2">
            <div class="rounded-sm overflow-hidden">
              <Image src={contro_i_borghi} alt="Contro i borghi per i borghi" class="" />
            </div>
          </div>
        <div class="mt-4 sm:col-span-8 sm:mt-0 md:row-end-1">
          <p>
            Dal 2010 tra i vocaboli cardine del festival c'è sicuramente quello di "Borgo", che da qualche anno ha mutato il suo utilizzo con la riscoperta delle aree interne italiane.<br>
            Recentemente pubblicato per la Donzelli editore, il volume Contro i borghi raccoglie diverse prospettive per descrivere la pluralità dei territori e smontarne la retorica.<br><br>
            Il curatore del libro Filippo Barbera in dialogo con Silvia di Passio, community manager nelle aree interne sarde, per confrontare voci diverse mostrando la complessità dei territori.<br>
            <a target="_blank" href="https://borgofuturo.net/festival23/">https://borgofuturo.net/festival23/</a>
          </p>
        </div>
      </div>
    </div>

    <br>

    <div>
      <h3 class="mt-4 text-2xl font-semibold">Social Camp #6 - Costruire dalla crisi</h3>
      <span class="font-bold">10 - 14 Luglio 2023, Ripe San Ginesio (MC) - Borgofuturo Social Camp</span><br>
      <p>Ricerca, Formazione e promozione culturale</p>
      <div class="text-lg grid grid-cols-1 sm:grid-rows-1 sm:grid-cols-12 sm:gap-x-6 md:gap-x-8 lg:gap-x-8">
        <div class="sm:col-span-4 md:row-end-2 md:row-span-2">
          <div class="rounded-sm overflow-hidden max-w-52">
            <Image src={social_camp_6} alt="Lancio Qui Val di Fiastra" />
          </div>
        </div>
        <div class="mt-4 sm:col-span-8 sm:mt-0 md:row-end-1">
          <p>
            Il percorso “Ponti” nasce all’interno del Social Camp #6 e vuole rispondere alla crisi dell’isolamento - geografico, sociale, culturale - con pratiche dinamiche di costruzione di connessioni o, appunto, “ponti”.<br>
            Ponti affronta il tema in conversazione con i collettivi Corale Preci, Boschilla, Montagne in Movimento, La Rivoluzione delle seppie.<br>
            <a target="_blank" href="https://borgofuturo.net/socialcamp-2023-ponti">https://borgofuturo.net/socialcamp-2023-ponti</a>
          </p>
        </div>
      </div>
    </div>

    <br>

    <div>
      <h3 class="mt-4 text-2xl font-semibold">Thriving from the Bottom | A Grassroots Jam Session</h3>
      <span class="font-bold">14 maggio 2023, Berlino - Diffrakt, centro per le periferie teoriche</span><br>
      <p>Ricerca, Formazione e promozione culturale</p>
      <div class="text-lg grid grid-cols-1 sm:grid-rows-1 sm:grid-cols-12 sm:gap-x-6 md:gap-x-8 lg:gap-x-8">
        <div class="sm:col-span-4 md:row-end-2 md:row-span-2">
          <div class="rounded-sm overflow-hidden max-w-52">
            <Image src={thriving_from_the_bottom} alt="Thriving from the Bottom | A Grassroots Jam Session" />
          </div>
        </div>
        <div class="mt-4 sm:col-span-8 sm:mt-0 md:row-end-1">
          <p>
            Conversazione con<br>
            Arts of the Working Class | Borgofuturo | Inabita<br><br>
            Evento di confronto organizzato in collaborazione con Arts of the Working Class e in occasione della loro nuova pubblicazione incentrata sul Grassroots. Attivisti di Berlino si uniscono in una serata ludica per tracciare connessioni tra pratiche apparentemente distanti.<br>
            <a target="_blank" href="http://diffrakt.space/thriving-from-the-bottom-a-grassroots-jam-session/">http://diffrakt.space/thriving-from-the-bottom-a-grassroots-jam-session</a>
          </p>
        </div>
      </div>
    </div>

    <br>

    <div>
      <h3 class="mt-4 text-2xl font-semibold">Nasce inabita</h3>
      <span class="font-bold">16 aprile 2022, Ripe san Ginesio (MC)</span><br>
      <p>Ricerca, Formazione e promozione culturale</p>
      <div class="text-lg grid grid-cols-1 sm:grid-rows-1 sm:grid-cols-12 sm:gap-x-6 md:gap-x-8 lg:gap-x-8">
        <div class="sm:col-span-4 md:row-end-2 md:row-span-2">
          <div class="rounded-sm overflow-hidden max-w-52">
            <Image src={nasce_inabita} alt="Nasce Inabita" />
          </div>
        </div>
        <div class="mt-4 sm:col-span-8 sm:mt-0 md:row-end-1">
          <p>
            Nasce Inabita: un laboratorio sul tema della rigenerazione dal basso che, partendo dall'esperienza del festival e dal confronto con realtà affini, ne esplora i possibili scenari territoriali.<br><br>
            h 10:30 | Presentazione del volume Borgofuturo+ Un progetto locale per le aree interne (2022)<br>
            h 18:00 | Presentazione delle tappe che hanno portato alla nascita di Inabita, dai primi workshop al Social Camp, fino ai progetti in attivazione nei prossimi successivi<br>
            h 20:30 | Le Marche e il loro paesaggio sonoro - di Francesco Savoretti e Fabio Mina
          </p>
        </div>
      </div>
    </div>

  </main>
</Layout>
<Footer showSocialIcons="true"/>
<style>
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
  }
</style>
