---
const { activeNav } = Astro.props;
const navigationItemsBaseClass = "text-black px-1 text-5xl no-underline";
---
<div class="mobile_menu hidden fixed inset-0 bg-white flex items-center justify-center">
  <button class="mobile_menu_close_button absolute top-5 right-5 h-12 w-12">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="stroke-current text-gray-800">
      <path stroke-linecap="square" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>
  <div class="text-white">
    <ul class="flex flex-col items-center space-y-8 uppercase">
      <li><a href="/" class={`${navigationItemsBaseClass} ${activeNav === "home" ? "font-bold" : "font-medium"}`}>Home</a></li>
      <li><a href="/manifesto" class={`${navigationItemsBaseClass} ${activeNav === "manifesto" ? "font-bold" : "font-medium"}`}>Manifesto</a></li>
      <li><a href="/chi-siamo" class={`${navigationItemsBaseClass} ${activeNav === "chi-siamo" ? "font-bold" : "font-medium"}`}>Chi siamo</a></li>
      <li><a href="/progetti" class={`${navigationItemsBaseClass} ${activeNav === "progetti" ? "font-bold" : "font-medium"}`}>Progetti</a></li>
      <li><a href="/servizi" class={`${navigationItemsBaseClass} ${activeNav === "servizi" ? "font-bold" : "font-medium"}`}>Servizi</a></li>
    </ul>
  </div>
</div>