---
import MobileMenu from "./MobileMenu.astro";
const { activeNav } = Astro.props;
const navigationItemsBaseClass = "px-1 -mt-1 text-lg no-underline hover:underline";
---
<MobileMenu activeNav={activeNav} />

<nav class="ml-5 hidden sm:block">
  <div class="flex space-x-4">
    <a href="/" class={`${navigationItemsBaseClass} ${activeNav === "home" ? "font-bold" : "font-medium"}`}>Home</a>
    <!-- <a href="/manifesto" class={`${navigationItemsBaseClass} ${activeNav === "manifesto" ? "font-bold" : "font-medium"}`}>Manifesto</a> -->
    <a href="/chi-siamo" class={`${navigationItemsBaseClass} ${activeNav === "chi-siamo" ? "font-bold" : "font-medium"}`}>Chi siamo</a>
    <a href="/servizi" class={`${navigationItemsBaseClass} ${activeNav === "servizi" ? "font-bold" : "font-medium"}`}>Servizi</a>
    <a href="/progetti" class={`${navigationItemsBaseClass} ${activeNav === "progetti" ? "font-bold" : "font-medium"}`}>Progetti</a>
    <a href="/eventi" class={`${navigationItemsBaseClass} ${activeNav === "eventi" ? "font-bold" : "font-medium"}`}>Eventi</a>
    <a href="/pubblicazioni" class={`${navigationItemsBaseClass} ${activeNav === "pubblicazioni" ? "font-bold" : "font-medium"}`}>Pubblicazioni</a>
  </div>
</nav>

<nav class="ml-5 block sm:hidden">
  <div class="flex space-x-4">
    <a href="#" class={`mobile_menu_button px-1 -mt-1 text-lg no-underline font-medium`}>MENU</a>
  </div>
</nav>

<script>
  function attachMobileMenuEvents() {
    console.log("script")
    const mobileMenuButton = document.querySelectorAll("a.mobile_menu_button")[0];
    const mobileMenuCloseButton = document.querySelectorAll("button.mobile_menu_close_button")[0];
    const mobileMenu = document.querySelectorAll("div.mobile_menu")[0];

    mobileMenuButton.addEventListener('click', (event) => {
      console.log("mobileMenuButton.addEventListener")
      event.preventDefault();
      mobileMenu.classList.remove('hidden');
    });

    mobileMenuCloseButton.addEventListener('click', (event) => {
      console.log("mobileMenuCloseButton.addEventListener")
      event.preventDefault();
      mobileMenu.classList.add('hidden');
    });
  }

  attachMobileMenuEvents();
  document.addEventListener("astro:after-swap", attachMobileMenuEvents);
</script>